

.btn-purple {
    background-color: #800080;
}

.bgedit {
    background: rgb(222, 204, 231);
    background: linear-gradient(90deg, rgb(173, 94, 209) 11%, rgb(202, 69, 169) 52%, rgba(135, 48, 142, 1) 100%);
    padding: 1cm;
    border-radius: 20px;
}
