#img-bg {
    background-image: url(https://i.imgur.com/DLFs0pN.png);
    min-width: 395px;
    min-height: 625px;
    background-color: #d9d9d9;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 0px;
}

.bg-entrar {
    background: rgb(66, 11, 91);
    background: linear-gradient(90deg, rgba(66, 11, 91, 1) 11%, rgba(142, 48, 118, 1) 52%, rgba(135, 48, 142, 1) 100%);
    margin-top: 0px;
}

.btn-purple {
    background-color: purple;
}

a {
    color: black;
}

a:hover {
    color: purple;
}