/* You can add global styles to this file, and also import other style files */

html{
    scroll-behavior: smooth;
}

.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt;
}

.text-purple{
    color: #800080;
}

.card{
    border-color: #800080 !important;
    border-radius: 10px !important;
    border-width: 5px !important;
}