.bg-row{
    background-color: rgba(139, 47, 134, 0.336);
    backdrop-filter: blur(10px);
}

.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt;
}
.btn-purple{
    background-color: purple;
} 

.bedit{
    color: #800080;
}

.bedit:hover{
    color:rgb(121, 34, 202)
}

.nav-link.active{
    background-color: #bd62bd !important;
}